.git
.gitignore
.gitattributes
.dockerignore
.editorconfig
.eslintrc
.gitlab-ci.yml
.env
.env.*
*.env
*.rbc
README.md
LICENSE
Dockerfile
docker-compose*.yml

log
tmp
public/system
coverage/
spec/tmp
tests/
**.orig
.rspec
.bundle
.ruby-version
.ruby-gemset
.rvmrc

vendor/assets/bower_components
*.bowerrc
bower.json
*.sh
